:root {
	--spacing-small: 5px;
	--spacing-medium: 10px;
	--spacing-large: 15px;
}

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: #f6f8fc;
}

.content {
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	background-color: #fff;
}

.content h1 {
	margin-left: 0.5rem;
	color: #364a43;
}

@media screen and (min-width: 576px) {
	.content {
		height: auto;
	}
}

@media screen and (min-width: 992px) {
	.content {
		max-width: 992px;
		height: auto;
		margin: 1rem auto;
		border-radius: 1rem;
	}
}
