.pokemons {
	display: grid;
	grid-template-columns: 1fr;
	margin: 0;
	padding: 0;
	list-style: none;
}

.normal {
	background-color: #a19c72;
}
.fire {
	background-color: #f8773c;
}
.water {
	background-color: #557fe6;
}
.grass {
	background-color: #62c154;
}
.electric {
	background-color: #fbcb44;
}
.ice {
	background-color: #85ced1;
}
.ground {
	background-color: #deb968;
}
.flying {
	background-color: #a17fe8;
}
.poison {
	background-color: #9b3592;
}
.fighting {
	background-color: #bf2d2a;
}
.psychic {
	background-color: #ff4e7f;
}
.dark {
	background-color: #685042;
}
.rock {
	background-color: #b4993f;
}

.bug {
	background-color: #9fb034;
}
.ghost {
	background-color: #644b89;
}
.steel {
	background-color: #9e9bb3;
}
.dragon {
	background-color: #5c1dd6;
}
.fairy {
	background-color: #e592ac;
}

.pokemon {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	padding: 1rem;
	border-radius: 1rem;
}

.pokemon .number {
	color: #000;
	opacity: 0.3;
	text-align: right;
	font-size: 0.625rem;
}

.pokemon .name {
	text-transform: capitalize;
	color: #fff;
	margin: 0 0 0.25rem 0;
	font-weight: 700;
	font-size: 1.5rem;
}

.pokemon .detail {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.pokemon .detail .types {
	padding: 0;
	margin: 0;
	list-style: none;
}

.pokemon .detail .types .type {
	color: #fff;
	padding: 0.25rem 0.5rem;
	margin: 0.25rem 0;
	font-size: 0.625rem;
	border-radius: 1rem;
	filter: brightness(1.1);
	text-align: center;
}

.pokemon .detail img {
	max-width: 100%;
	height: 5rem;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1rem;
}

.pagination button {
	padding: 0.25rem 0.5rem;
	margin: 0.25rem 0;
	font-size: 0.625rem;
	color: #fff;
	background-color: #6c79db;
	border: none;
	border-radius: 1rem;
}

@media screen and (min-width: 380px) {
	.pokemons {
		grid-template-columns: 1fr 1fr;
	}
	.pokemon .name {
		font-size: 1rem;
	}
}

@media screen and (min-width: 576px) {
	.pokemons {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (min-width: 992px) {
	.pokemons {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
