body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.show {
	opacity: 1;
	visibility: visible;
}
.close-button {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	cursor: pointer;
	border: 0.1rem solid #535957;
	background-color: rgb(214, 67, 67);
	color: white;
	transition: 0.4s ease;
	font-size: 1.5rem;
	font-weight: 500;
}
.pokemonDetail {
	color: white;
	width: 100vw;
	max-width: 20rem;
	display: flex;
	flex-direction: column;

	position: relative;
	margin: 1rem;
	border-radius: 1.6rem;
}

.pokemonDetail .name {
	margin: 1.25rem 1.25rem 0;
	color: white;
	text-transform: capitalize;
}

.pokemonDetail .number {
	text-align: right;
	margin-right: 1.25rem;
}
.pokemonDetail img {
	height: 10rem;
	position: relative;
	margin-bottom: -20px;
	z-index: 2;
	filter: drop-shadow(0 3mm 1mm rgba(83, 89, 87, 0.5));
}

.pokemonDetail ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.pokemonDetail .types {
	display: flex;
	flex-direction: row;
	margin: 0 1.25rem;
}

.pokemonDetail .types .type {
	color: #fff;
	padding: 0.25rem 0.5rem;
	margin: 0 0.5rem 0.25rem 0;
	font-size: 0.625rem;
	border-radius: 1rem;
	filter: brightness(1.1);
	text-align: center;
}
.pokemonDetail .types li {
	padding: 1rem 0 0.938rem 0;
	color: #d2d3d4;
	margin-right: 2rem;
}
.pokemonDetail .types .active {
	border-bottom: 1px solid rgba(54, 74, 67, 0.5);
	font-weight: 700;
	color: #535957;
}

.pokemonDetail h3 {
	color: #5d6367;
}

.pokemonDetail p {
	margin: 0;
}
.box-details {
	background: white;
	color: #989c9d;
	width: 100%;
	z-index: 1;
	padding: 1.5rem 1.5rem 2rem;
	font-size: 0.75rem;
	border-radius: 1.6rem;
}
.box-details .types {
	margin: 0 0 20px 0;
}
.display-none {
	display: none;
}
.line {
	background-color: rgba(54, 74, 67, 0.1);
	width: 100%;
	height: 1px;
	top: -21px;
	position: relative;
}

.box-details .types li {
	padding: 1rem 0 0.938rem 0;
	color: #d2d3d4;
	cursor: pointer;
	margin-right: 2rem;
	user-select: none;
}

.inactive {
	color: #535957;
}

.table {
	display: table;
	width: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	padding: 0.3rem 0;
}
.table-cell:first-child {
	padding-right: 1rem;
}
.tab-content {
	display: none;
}

.tab-content.show {
	display: block;
}
.status-bar {
	width: 100%;
	height: 3px;
}

.status {
	width: 100%;
}

#tab2 .table {
	display: table;
	width: 100%;
}

#tab2 .table-row {
	display: table-row;
}

#tab2 .table-cell {
	display: table-cell;
	padding: 0 1rem 0.625rem 0;
}

#tab2 .table-cell:first-child {
	width: 4rem;
}

#tab2 .table-cell:nth-child(2n) {
	width: 2rem;
}
.medium {
	font-weight: 500;
	color: #61646a;
	text-transform: capitalize;
}
.medium span:first-child {
	color: blue;
	font-size: 1.5rem;
}
.medium span:last-child {
	color: red;
	font-size: 1.5rem;
	margin-left: 10px;
}

@media screen and (min-width: 281px) {
	.modal {
		justify-content: center;
	}
}

@media screen and (min-width: 380px) {
}
