body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.normal {
	background-color: #a6a877;
}

.grass {
	background-color: #77c850;
}

.fire {
	background-color: #ee7f30;
}

.water {
	background-color: #678fee;
}

.electric {
	background-color: #f7cf2e;
}

.ice {
	background-color: #98d5d7;
}

.ground {
	background-color: #dfbf69;
}

.flying {
	background-color: #a98ff0;
}

.poison {
	background-color: #a040a0;
}

.fighting {
	background-color: #bf3029;
}

.psychic {
	background-color: #f65687;
}

.dark {
	background-color: #725847;
}

.rock {
	background-color: #b8a137;
}

.bug {
	background-color: #a8b720;
}

.ghost {
	background-color: #6e5896;
}

.steel {
	background-color: #b9b7cf;
}

.dragon {
	background-color: #6f38f6;
}

.fairy {
	background-color: #f9aec7;
}

.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal.show {
	opacity: 1;
	visibility: visible;
}
.close-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	cursor: pointer;
	border: 1px solid black;
	background-color: rgb(214, 67, 67);
	color: white;
	transition: 0.4s ease;
	font-size: 1.5rem;
	font-weight: 500;
}
.pokemonDetail {
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	padding: 1.25rem;
	position: relative;
}

.pokemonDetail .name {
	margin: 1.25rem 0 0 0;
	color: white;
	text-transform: capitalize;
}

.pokemonDetail .number {
	text-align: right;
}
.pokemonDetail img {
	height: 10rem;
	position: relative;
	z-index: 2;
}

.pokemonDetail ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.pokemonDetail .types {
	display: flex;
	flex-direction: row;
	margin: 0 0 1.25rem 0;
}

.pokemonDetail .types .type {
	color: #fff;
	padding: 0.25rem 0.5rem;
	margin: 0 0.5rem 0.25rem 0;
	font-size: 0.625rem;
	border-radius: 1rem;
	filter: brightness(1.1);
	text-align: center;
}

.box-details {
	background: white;
	border-top-left-radius: 1.563rem;
	border-top-right-radius: 1.563rem;
	color: #989c9d;
	width: 100%;
	height: 22.5rem;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 17.5rem;
	z-index: 1;
	padding: 1.5rem 2.5rem;
	font-size: 0.75rem;
}

.display-none {
	display: none;
}
.line {
	background-color: rgba(54, 74, 67, 0.1);
	width: 100%;
	height: 1px;
	top: -21px;
	position: relative;
}

.pokemonDetail .types li {
	padding: 1rem 0 0.938rem 0;
	color: #d2d3d4;
	margin-right: 2rem;
}

.box-details .types li {
	padding: 1rem 0 0.938rem 0;
	color: #d2d3d4;
	cursor: pointer;
	margin-right: 2rem;
}

.pokemonDetail .types .active {
	border-bottom: 1px solid rgba(54, 74, 67, 0.5);
	font-weight: 700;
	color: #535957;
}

.pokemonDetail h3 {
	color: #5d6367;
}

.pokemonDetail p {
	margin-top: 0;
}
.inactive {
	color: #535957;
}

.table {
	display: table;
	width: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
	padding: 0 1rem 0.625rem 0;
}
.tab-content {
	display: none;
}

.tab-content.show {
	display: block;
}
.status-bar {
	width: 100%;
	height: 3px;
	background-color: rgba(54, 74, 67, 0.1);
}

.status {
	width: 50%;
	height: 100%;
	background-color: #4caf50;
}

#tab2 .table {
	display: table;
	width: 100%;
}

#tab2 .table-row {
	display: table-row;
}

#tab2 .table-cell {
	display: table-cell;
	padding: 0 1rem 0.625rem 0;
}

#tab2 .table-cell:first-child {
	width: 4rem;
}

#tab2 .table-cell:nth-child(2n) {
	width: 2rem;
}
.medium {
	font-weight: 500;
	color: #61646a;
}

@media screen and (min-width: 281px) {
	.pokemonDetail {
		max-width: 20rem;
		max-height: 40rem;
		margin: 1rem;
		border-radius: 1.563rem;
	}
	.pokemonDetail .box-details {
		border-radius: 1.563rem;
	}
}
